<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Records </title> 
</head>
<body>
    <h1>Attendance Records</h1>
    <p>Hello,</p>
    <p>Please find your team's attached Excel file containing attendance records.</p>
    <p>Instructions:</p> 
    <ul>
        <li>The report is in 24-hour format.</li>
        <li>First check-in indicates the time when an employee first checked in at the office on a particular day/date.</li>
        <li>Last checkout indicates when the employee checked out from the office on a particular day/date.</li>
        <li>Lunchtime refers to the time when the employee was out of the office.</li>
        <li>Total time refers to the time when the employee was present in the office after subtracting the lunchtime.</li>
    </ul>
    <p>Please note: Consider this report as 95% accurate.</p>
    <p>Thank you!</p>
</body>
</html>
